body {
  background: linear-gradient(135deg, #d28cb4, #ffffff, #b3e5fc);
  
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px;
  font-family: sans-serif;
}

blockquote.q {
  color: #D4AF67;
  border-left: 4px solid #8B0000;
  font-style: italic;
}

@font-face {
  font-family: "Pudelinka";
  src: url("fonts/pudelinka.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p.quote {
  font-family: "Pudelinka", cursive;
}
